@import './color';

/*
 * A raised box panel used to emphasize a small amount of text,
 * such as a call-to-action or a quote.
 */
.callout-vanilla {
  position: relative;
  background-color: $triad-2-red-4;
  border-color: $triad-2-red-3;
  border-radius: 0.25rem;
  display: block;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  max-width: 70%;
  position: relative;
  z-index: 1;
  font-size: 1rem;
}