
$standard-orange: #ffa500;
$standard-antiquewhite: #faebd7;
$standard-azure: #f0ffff;
$standard-beige: #f5f5dc;
$standard-bisque: #ffe4c4;
$standard-blanchedalmond: #ffebcd;
$standard-brown: #a52a2a;
$standard-burlywood: #deb887;
$standard-chocolate: #d2691e;
$standard-coral: #ff7f50;
$standard-cornsilk: #fff8dc;
$standard-darkgoldenrod: #b8860b;
$standard-darkkhaki: #bdb76b;
$standard-darkorange: #ff8c00;
$standard-darksalmon: #e9967a;
$standard-floralwhite: #fffaf0;
$standard-gainsboro: #dcdcdc;
$standard-ghostwhite: #f8f8ff;
$standard-goldenrod: #daa520;
$standard-honeydew: #f0fff0;
$standard-ivory: #fffff0;
$standard-khaki: #f0e68c;
$standard-lavender: #e6e6fa;
$standard-lavenderblush: #fff0f5;
$standard-lemonchiffon: #fffacd;
$standard-lightcoral: #f08080;
$standard-lightsalmon: #ffa07a;
$standard-linen: #faf0e6;
$standard-mintcream: #f5fffa;
$standard-mistyrose: #ffe4e1;
$standard-moccasin: #ffe4b5;
$standard-navajowhite: #ffdead;
$standard-oldlace: #fdf5e6;
$standard-palegoldenrod: #eee8aa;
$standard-papayawhip: #ffefd5;
$standard-peachpuff: #ffdab9;
$standard-peru: #cd853f;
$standard-rosybrown: #bc8f8f;
$standard-saddlebrown: #8b4513;
$standard-salmon: #fa8072;
$standard-sandybrown: #f4a460;
$standard-seashell: #fff5ee;
$standard-sienna: #a0522d;
$standard-snow: #fffafa;
$standard-tan: #d2b48c;
$standard-thistle: #d8bfd8;
$standard-wheat: #f5deb3;
$standard-whitesmoke: #f5f5f5;

// BLUE

$standard-navy: #000080;
$standard-blue: #0000ff;
$standard-aliceblue: #f0f8ff;
$standard-cadetblue: #5f9ea0;
$standard-cornflowerblue: #6495ed;
$standard-darkblue: #00008b;
$standard-darkslateblue: #483d8b;
$standard-deepskyblue: #00bfff;
$standard-dodgerblue: #1e90ff;
$standard-lightblue: #add8e6;
$standard-lightskyblue: #87cefa;
$standard-lightsteelblue: #b0c4de;
$standard-mediumblue: #0000cd;
$standard-mediumslateblue: #7b68ee;
$standard-midnightblue: #191970;
$standard-powderblue: #b0e0e6;
$standard-royalblue: #4169e1;
$standard-skyblue: #87ceeb;
$standard-slateblue: #6a5acd;
$standard-steelblue: #4682b4;

// CYAN

$standard-aqua: #00ffff;
$standard-aquamarine: #7fffd4;
$standard-cyan: #00ffff;
$standard-darkcyan: #008b8b;
$standard-darkturquoise: #00ced1;
$standard-lightcyan: #e0ffff;
$standard-mediumaquamarine: #66cdaa;
$standard-mediumturquoise: #48d1cc;
$standard-paleturquoise: #afeeee;
$standard-teal: #008080;
$standard-turquoise: #40e0d0;

// GRAY

$standard-black: #000000;
$standard-darkgray: #a9a9a9;
$standard-darkslategray: #2f4f4f;
$standard-dimgray: #696969;
$standard-gray: #808080;
$standard-lightgray: #d3d3d3;
$standard-lightslategray: #778899;
$standard-silver: #c0c0c0;
$standard-slategray: #708090;
$standard-white: #ffffff;

// GREEN

$standard-chartreuse: #7fff00;
$standard-darkgreen: #006400;
$standard-darkolivegreen: #556b2f;
$standard-darkseagreen: #8fbc8f;
$standard-forestgreen: #228b22;
$standard-green: #008000;
$standard-lawngreen: #7cfc00;
$standard-lightgreen: #90ee90;
$standard-lightseagreen: #20b2aa;
$standard-lime: #00ff00;
$standard-limegreen: #32cd32;
$standard-mediumseagreen: #3cb371;
$standard-mediumspringgreen: #00fa9a;
$standard-olive: #808000;
$standard-olivedrab: #6b8e23;
$standard-palegreen: #98fb98;
$standard-seagreen: #2e8b57;
$standard-springgreen: #00ff7f;
$standard-yellowgreen: #9acd32;

// MAGENTA

$standard-blueviolet: #8a2be2;
$standard-darkmagenta: #8b008b;
$standard-darkorchid: #9932cc;
$standard-darkviolet: #9400d3;
$standard-deeppink: #ff1493;
$standard-fuchsia: #ff00ff;
$standard-hotpink: #ff69b4;
$standard-indigo: #4b0082;
$standard-lightpink: #ffb6c1;
$standard-magenta: #ff00ff;
$standard-mediumorchid: #ba55d3;
$standard-mediumpurple: #9370db;
$standard-orchid: #da70d6;
$standard-pink: #ffc0cb;
$standard-plum: #dda0dd;
$standard-purple: #800080;
$standard-violet: #ee82ee;

// RED

$standard-crimson: #dc143c;
$standard-darkred: #8b0000;
$standard-firebrick: #b22222;
$standard-indianred: #cd5c5c;
$standard-maroon: #800000;
$standard-mediumvioletred: #c71585;
$standard-orangered: #ff4500;
$standard-palevioletred: #db7093;
$standard-red: #ff0000;
$standard-tomato: #ff6347;

// YELLOW

$standard-greenyellow: #adff2f;
$standard-gold: #ffd700;
$standard-lightgoldenrodyellow: #fafad2;
$standard-lightyellow: #ffffe0;
$standard-yellow: #ffff00;

// MORE

$amber: #FFBF00;
$amber-light-plus-1: #ffc51a;
$amber-light-plus-2: #ffcc33;
$amber-light-plus-3: #ffd24d;
$amber-light-plus-4: #ffd966;
$amber-light-plus-5: #ffdf80;
$amber-light-plus-6: #ffe599;
$amber-light-plus-7: #ffecb3;
$amber-light-plus-8: #fff2cc;
$amber-light-plus-9: #fff9e6;

$black-light-plus-1: #1a1a1a;
$black-light-plus-2: #333333;
$black-light-plus-3: #4d4d4d;
$black-light-plus-4: #666666;
$black-light-plus-5: #808080;
$black-light-plus-6: #999999;
$black-light-plus-7: #b3b3b3;
$black-light-plus-8: #cccccc;
$black-light-plus-9: #e6e6e6;

$dark-cyan-light-plus-1: #1a9797;
$dark-cyan-light-plus-2: #33a2a2;
$dark-cyan-light-plus-3: #4daeae;
$dark-cyan-light-plus-4: #66b9b9;
$dark-cyan-light-plus-5: #80c5c5;
$dark-cyan-light-plus-6: #99d1d1;
$dark-cyan-light-plus-7: #b3dcdc;
$dark-cyan-light-plus-8: #cce8e8;
$dark-cyan-light-plus-9: #e6f3f3;

$mediumaquamarine-light-plus-1: #75d2b3;
$mediumaquamarine-light-plus-2: #85d7bb;
$mediumaquamarine-light-plus-3: #94dcc4;
$mediumaquamarine-light-plus-4: #a3e1cc;
$mediumaquamarine-light-plus-5: #b3e6d5;
$mediumaquamarine-light-plus-6: #c2ebdd;
$mediumaquamarine-light-plus-7: #d1f0e6;
$mediumaquamarine-light-plus-8: #e0f5ee;
$mediumaquamarine-light-plus-9: #f0faf7;

$mediumaquamarine-dark-plus-1: #5cb999;
$mediumaquamarine-dark-plus-2: #52a488;
$mediumaquamarine-dark-plus-3: #479077;
$mediumaquamarine-dark-plus-4: #3d7b66;
$mediumaquamarine-dark-plus-5: #336755;
$mediumaquamarine-dark-plus-6: #295244;
$mediumaquamarine-dark-plus-7: #1f3d33;
$mediumaquamarine-dark-plus-8: #142922;
$mediumaquamarine-dark-plus-9: #0a1411;

// AQUAMARINE TRIAD

$triad-1-aquamarine-1: #D8F9EE;
$triad-1-aquamarine-2: #A4E9D2;
$triad-1-aquamarine-3: #75D2B4;
$triad-1-aquamarine-4: #4DB694;
$triad-1-aquamarine-5: #2F9C78;

$triad-1-amber-1: #FFF2DD;
$triad-1-amber-2: #FFE1B4;
$triad-1-amber-3: #FFD28E;
$triad-1-amber-4: #FFC46C;
$triad-1-amber-5: #EBA947;

$triad-1-magenta-1: #FDDCE4;
$triad-1-magenta-2: #FAB0C3;
$triad-1-magenta-3: #F488A1;
$triad-1-magenta-4: #ED6484;
$triad-1-magenta-5: #D84164;

$triad-1-blue-1: #DAE9F8;
$triad-1-blue-2: #A9C8E8;
$triad-1-blue-3: #7BA5D0;
$triad-1-blue-4: #5483B3;
$triad-1-blue-5: #366799;

$triad-1-green-1: #E8FDDB;
$triad-1-green-2: #C9F7AE;
$triad-1-green-3: #ACEE85;
$triad-1-green-4: #91E460;
$triad-1-green-5: #73CD3E;

$aquamarine-to-gray-gradient-01: #75d2b4;
$aquamarine-to-gray-gradient-02: #77cfb3;
$aquamarine-to-gray-gradient-03: #79ccb1;
$aquamarine-to-gray-gradient-04: #7ac9b0;
$aquamarine-to-gray-gradient-05: #7cc7af;
$aquamarine-to-gray-gradient-06: #7ec4ad;
$aquamarine-to-gray-gradient-07: #80c1ac;
$aquamarine-to-gray-gradient-08: #82beab;
$aquamarine-to-gray-gradient-09: #83bba9;
$aquamarine-to-gray-gradient-10: #85b8a8;
$aquamarine-to-gray-gradient-11: #87b6a6;
$aquamarine-to-gray-gradient-12: #89b3a5;
$aquamarine-to-gray-gradient-13: #8bb0a4;
$aquamarine-to-gray-gradient-14: #8cada2;
$aquamarine-to-gray-gradient-15: #8eaaa1;
$aquamarine-to-gray-gradient-16: #90a7a0;
$aquamarine-to-gray-gradient-17: #92a49e;
$aquamarine-to-gray-gradient-18: #94a29d;
$aquamarine-to-gray-gradient-19: #959f9c;
$aquamarine-to-gray-gradient-20: #979c9a;
$aquamarine-to-gray-gradient-21: #999999;