
$standard-black: #000000;
$standard-silver: #c0c0c0;
$standard-gray: #808080;
$standard-white: #ffffff;
$standard-yellow: #ffff00;
$standard-teal: #008080;
$standard-aqua: #00ffff;
$standard-orange: #ffa500;
$standard-antiquewhite: #faebd7;
$standard-aquamarine: #7fffd4;
$standard-azure: #f0ffff;
$standard-beige: #f5f5dc;
$standard-bisque: #ffe4c4;
$standard-blanchedalmond: #ffebcd;
$standard-brown: #a52a2a;
$standard-burlywood: #deb887;
$standard-chartreuse: #7fff00;
$standard-chocolate: #d2691e;
$standard-coral: #ff7f50;
$standard-cornsilk: #fff8dc;
$standard-crimson: #dc143c;
$standard-cyan: #00ffff;
$standard-darkcyan: #008b8b;
$standard-darkgoldenrod: #b8860b;
$standard-darkgray: #a9a9a9;
$standard-darkgrey: #a9a9a9;
$standard-darkkhaki: #bdb76b;
$standard-darkmagenta: #8b008b;
$standard-darkorange: #ff8c00;
$standard-darksalmon: #e9967a;
$standard-darkslategray: #2f4f4f;
$standard-darkslategrey: #2f4f4f;
$standard-darkturquoise: #00ced1;
$standard-dimgray: #696969;
$standard-firebrick: #b22222;
$standard-floralwhite: #fffaf0;
$standard-gainsboro: #dcdcdc;
$standard-ghostwhite: #f8f8ff;
$standard-gold: #ffd700;
$standard-goldenrod: #daa520;
$standard-grey: #808080;
$standard-honeydew: #f0fff0;
$standard-ivory: #fffff0;
$standard-khaki: #f0e68c;
$standard-lavender: #e6e6fa;
$standard-lavenderblush: #fff0f5;
$standard-lemonchiffon: #fffacd;
$standard-lightcoral: #f08080;
$standard-lightcyan: #e0ffff;
$standard-lightgoldenrodyellow: #fafad2;
$standard-lightgray: #d3d3d3;
$standard-lightgrey: #d3d3d3;
$standard-lightsalmon: #ffa07a;
$standard-lightslategray: #778899;
$standard-lightslategrey: #778899;
$standard-lightyellow: #ffffe0;
$standard-linen: #faf0e6;
$standard-magenta #ff00ff;
$standard-mediumaquamarine: #66cdaa;
$standard-mediumturquoise: #48d1cc;
$standard-mintcream: #f5fffa;
$standard-mistyrose: #ffe4e1;
$standard-moccasin: #ffe4b5;
$standard-navajowhite: #ffdead;
$standard-oldlace: #fdf5e6;
$standard-olivedrab: #6b8e23;
$standard-palegoldenrod: #eee8aa;
$standard-paleturquoise: #afeeee;
$standard-papayawhip: #ffefd5;
$standard-peachpuff: #ffdab9;
$standard-peru: #cd853f;
$standard-rosybrown: #bc8f8f;
$standard-saddlebrown: #8b4513;
$standard-salmon: #fa8072;
$standard-sandybrown: #f4a460;
$standard-seashell: #fff5ee;
$standard-sienna: #a0522d;
$standard-slategray: #708090;
$standard-snow: #fffafa;
$standard-tan: #d2b48c;
$standard-thistle: #d8bfd8;
$standard-tomato: #ff6347;
$standard-turquoise: #40e0d0;
$standard-wheat: #f5deb3;
$standard-whitesmoke: #f5f5f5;

// BLUE

$standard-navy: #000080;
$standard-blue: #0000ff;
$standard-aliceblue: #f0f8ff;
$standard-cadetblue: #5f9ea0;
$standard-cornflowerblue: #6495ed;
$standard-darkblue: #00008b;
$standard-darkslateblue: #483d8b;
$standard-deepskyblue: #00bfff;
$standard-dodgerblue: #1e90ff;
$standard-lightblue: #add8e6;
$standard-lightskyblue: #87cefa;
$standard-lightsteelblue: #b0c4de;
$standard-mediumblue: #0000cd;
$standard-mediumslateblue: #7b68ee;
$standard-midnightblue: #191970;
$standard-powderblue: #b0e0e6;
$standard-royalblue: #4169e1;
$standard-skyblue: #87ceeb;
$standard-slateblue: #6a5acd;
$standard-steelblue: #4682b4;

// GREEN

$standard-green: #008000;
$standard-lime: #00ff00;
$standard-olive: #808000;
$standard-darkgreen: #006400;
$standard-darkolivegreen: #556b2f;
$standard-darkseagreen: #8fbc8f;
$standard-forestgreen: #228b22;
$standard-greenyellow: #adff2f;
$standard-lawngreen: #7cfc00;
$standard-lightgreen: #90ee90;
$standard-lightseagreen: #20b2aa;
$standard-limegreen: #32cd32;
$standard-mediumseagreen: #3cb371;
$standard-mediumspringgreen: #00fa9a;
$standard-palegreen: #98fb98;
$standard-seagreen: #2e8b57;
$standard-springgreen: #00ff7f;
$standard-yellowgreen: #9acd32;

// PURPLE

$standard-purple: #800080;
$standard-fuchsia: #ff00ff;
$standard-blueviolet: #8a2be2;
$standard-darkorchid: #9932cc;
$standard-darkviolet: #9400d3;
$standard-deeppink: #ff1493;
$standard-hotpink: #ff69b4;
$standard-indigo: #4b0082;
$standard-lightpink: #ffb6c1;
$standard-mediumorchid: #ba55d3;
$standard-mediumpurple: #9370db;
$standard-orchid: #da70d6;
$standard-pink: #ffc0cb;
$standard-plum: #dda0dd;
$standard-violet: #ee82ee;

// RED

$standard-maroon: #800000;
$standard-red: #ff0000;
$standard-darkred: #8b0000;
$standard-indianred: #cd5c5c;
$standard-mediumvioletred: #c71585;
$standard-orangered: #ff4500;
$standard-palevioletred: #db7093;