@import './color';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.outer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.inner {
  position: relative;
  max-width: 55rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  color: $black-light-plus-9;
  background: $black-light-plus-1;
}

.inner-content {
  position: relative;
  max-width: 55rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  color: $black-light-plus-9;
  background: $black-light-plus-2;
}

.inner-b {
  position: relative;
  max-width: 55rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  color: $black-light-plus-8;
  background: $black-light-plus-2;
}

.inner-content-b {
  font-weight: 700;
  position: relative;
  max-width: 55rem;
  padding: 1rem 5rem;
  margin: 0 auto;
  color: $black-light-plus-2;
  background: $marineblue-light-8;
}

.inner-b a {
  color: $marineblue2-light-4;
}

.inner-content-b a {
  color: $marineblue-light-1;
}

.inner-content-b h1 {
  color: $marineblue2-light-1;
  border-bottom: solid 2px $marineblue2-light-2;
}

.inner-content-b h2 {
  color: $marineblue2-light-2;
}

.inner-content-b h3 {
  color: $marineblue2-light-2;
}

.inner-content-b h4 {
  color: $marineblue2-light-2;
}

.inner-content-b h5 {
  color: $marineblue2-light-2;
}

.inner-content-b h6 {
  color: $marineblue2-light-2;
}

  /*
   * This used to wrap all page content except the footer,
   * so that the footer can be shoved all the way to the bottom
   * of each page and will always stick there.
   */
.page-container {
  position: relative;
  min-height: 100vh;
}