@import './color';

.outer {
  color: $standard-white;
  background: $black-light-plus-1;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.inner {
  position: relative;
  max-width: 50rem;
  padding: 1rem 4rem;
  margin: 0 auto;
  color: $standard-white;
  background: $black-light-plus-2;
}