@import './color';

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  border-bottom: solid 2px $dark-cyan-light-plus-6;
  color: $dark-cyan-light-plus-6;
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

h2 {
  color: $dark-cyan-light-plus-5;
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
}

h3 {
  color: $dark-cyan-light-plus-4;
  font-size: 2rem;
  margin: 1.25rem 0 0 0;
}

h4 {
  color: $dark-cyan-light-plus-4;
  font-size: 1.75rem;
  margin: 1.25rem 0 0 0;
}

h5 {
  color: $marineblue2-light-4;
  font-size: 1.55rem;
  margin: 1.25rem 0 0 0;
}

h6 {
  color: $marineblue2-light-4;
  font-size: 1.35rem;
  margin: 1.25rem 0 0 0;
}

p {
  margin: 10px 0 15px 0;
}

div {

}

pre, code {
  color: $triad-1-green-3;
  background-color: $black-light-plus-1;
  font-family: 'Inconsolata', monospace;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
}

pre {
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: auto;
}

code {
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  line-height: 1;
}

pre code {
  display: block;
  box-shadow: none;
}

ul, ol, dl {

}

ol {
  list-style-position: inside;
  list-style: decimal;
}

ul {
  list-style-position: inside;
  list-style: disc;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: $triad-2-gold-3;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

blockquote {
  position: relative;
  background-color: $marineblue-dark-3;
  border: 2px solid $marineblue;
  border-radius: 0.25rem;
  display: block;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  margin: 1.25rem 0 1.25rem 0;
  max-width: 100%;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  color: $dark-cyan-light-plus-6;
}

.site-title {
  color: $marineblue2-light-4;
  margin: 0 0 0 0;
  font-weight: 700;
  font-family: 'Teko', sans-serif;
  font-size: 4rem;
  letter-spacing: 0.05em;
}

.site-description {
  margin: 0 0 0 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.copyright {
  font-size: 0.9rem;
}

.text_callout {
  background-color: $marineblue-dark-3;
  border: 4px solid $marineblue;
  border-radius: 0.35rem;
  color: $dark-cyan-light-plus-8;
  display: block;
  padding: 0.7rem 1.7rem 0.7rem 1.7rem;
  margin: 3rem auto 2.75rem;
  max-width: 80%;
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  font-weight: 700;
}

.text_callout b {
  color: $triad-1-green-5;
}

.special-text {
  color: $black-light-plus-6;
  font-size: 1.4rem;
  font-weight: 700;
}