
body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0.5rem 0;
  font-weight: 700;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  margin: 10px 0 15px 0;
}

div {

}