@import './color';

body {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0.5rem 0;
  font-weight: 700;
  font-family: 'Teko', sans-serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  margin: 10px 0 15px 0;
}

div {

}

pre, code {
  color: #222;
  background-color: #ccc;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 0.9em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

pre {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

pre code {
  display: block;
  box-shadow: none;
}

ul, ol, dl {

}

ol {
  list-style-position: inside;
  list-style: decimal;
}

ul {
  list-style-position: inside;
  list-style: disc;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}